@font-face {
    font-family: 'OuTiKaiShu';
    src: url('/static/font/OuTiKaiShu.otf');
}

html, body {
    height: 100%;
}

* {
    font-family:"Microsoft JhengHei", "Microsoft YaHei",Arial,Helvetica,sans-serif;
}

#top-menu {
    border-radius: 0;
    /*padding-bottom: 1px;*/
    /*background-color: rgba(221,120,79,0.2);*/
    /*background-color: #9CAFB7;*/
    /*transition: background-color 0.3s;*/
    /*border: none;*/
}

#top-menu .item.header {
    padding: 1px 0;
}


/* title color */
span.orange {
    color: rgba(221,120,79,0.9);
}

a:link, a:visited,
a:focus {
    color: black !important;
}

a:hover {
    color: rgba(221,120,79,0.8) !important;
}

a *:hover {
    color: rgba(221,120,79,0.8);
}

/*footer*/
footer {
    background-color: rgba(92,164,169,0.8);
    margin-top: 30px;
    width: 100vw;
}

footer .info {
    text-align: center;
}

footer .names {
    font-size: 1.5em;
    font-weight: 350;
}

footer .copyright {
    font-size: 0.9em;
}

footer .line {
    height: 18px;
    display: inline-block;
    top: 0;
    margin-bottom: 10px;
}

footer .six {
    width: 60%;
}

footer .one {
    width: 10%;
}

footer img {
    padding-right: 40px;
    border-right: 8px solid #E6EBE0;
}

footer .CAMBRIDGE {
    background-color: #9BC1BC;
}

footer .PLATINUM {
    background-color: #E6EBE0;
}

footer .BLOND {
    background-color: #F4F1BB;
}

footer .TERRA {
    background-color: #ED6A5A;
}


/* scroll to top button */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    height: auto;
    background-color: rgba(0,0,0,0.2);
    border: 2px solid rgba(0,0,0,0.6);
    border-radius: 5px;
    z-index: 100;
    /*font-size: 1.5em;*/
    color: rgba(221,120,79,0.6);
    cursor: pointer;
}