div.title-bg {
    height: 300px;
}

h1.classification {
    font-family:"Microsoft JhengHei", "Microsoft YaHei",Arial,Helvetica,sans-serif !important;
    font-weight: 300;
    font-size: 2.6em;
    color: #F2E7C9;
}

h1.classification .ui.side {
    font-family:"Microsoft JhengHei", "Microsoft YaHei",Arial,Helvetica,sans-serif !important;
    color: #F2E7C9;
    font-size: 2em;
}

.ui.text.shape {
    cursor: pointer;
}