<!DOCTYPE html>
<html style="height: 100%">
<head>
  <title>{% block title_name %}Moogle{% endblock %}</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="/static/img/round-M-logo.png"/>

  <link rel="stylesheet" type="text/css" href="/static/css/sweetalert2.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.js">
  <link rel="stylesheet" type="text/css" href="/static/css/link_component.css">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">

  {% block stylesheet %}{% endblock %}
</head>
<body>
  <div class="ui secondary pointing menu huge" id="top-menu">
    <div class="ui container">
      <a class="item" href="/">
        <b><span class="orange">M</span>OOGLE</b>
      </a>
      <a class="item">
        所有课程
      </a>
      <div class="item header right">
        <img src="/static/img/round-M-logo.png" class="logo">
      </div>

      <!--
      {% if request.session.user_email %}
      <a class="item right">
        {{request.session.user_email}}
      </a>
      {% else %}
      <a class="item right" href="{% url 'login' %}">
        LOGIN
      </a>
      {% endif %}
      -->

    </div>
  </div>
  {% block body_content %}
  <div>Default content.</div>
  {% endblock %}

  <div class="scroll-to-top to top">
    <nav class="cl-effect-5" id="cl-effect-5">
      <a>
        <span data-hover="TOP">TOP</span>
      </a>
    </nav>
  </div>

  <footer>
    <span class="line six PLATINUM"></span><span class="line one CAMBRIDGE"></span><span class="line one BLOND"></span><span class="line one TERRA"></span><span class="line one PLATINUM"></span>
    <div class="ui container text">
      <div class="ui grid">
        <div class="column five wide">
          <img src="/static/img/team.png" class="ui fluid image"/>
        </div>
        <div class="column eleven wide info">
        <div class="ui row names"><a href="http://www.leezing.com" target="_blank">Zing Lee</a> · <a href="http://blog.csdn.net/littlecuter" target="_blank">ST.Zinc</a> · <a href="https://github.com/WKCN" target="_blank">JackieWu</a></div>
        <div class="ui row copyright">Copyright &copy; 2016 与黑恶势力共同开发 · <a href="https://moogle.mit-license.org/" target="_blank">The MIT License (MIT)</a></div>
          
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="http://cdn.css.net/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.md5.js"></script>
  <script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
  <script type="text/javascript" src="/static/js/sweetalert2.min.js"></script>
  <script type="text/javascript" src="/static/js/base_lib.js"></script>
  {% block javascript %}{% endblock %}
  <script type="text/javascript">
    $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    if (window.location.hostname === '127.0.0.1') {
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    }
  </script>
</body>
</html>