{% extends 'mooc/base.html' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
{% endblock %}

{% block title_name %}
Home
{% endblock %}

{% block body_content %}
<div class="ui fluid container" id="main-container">
  <div class="title-bg">
    <div class="ui grid">
      <div class="ui row main-search">
        <div class="column fluid center aligned">
          <span class="web-name">MOOGLE</span>
        </div>
      </div>
      <div class="ui row">
        <div class="column five wide"></div>
        <div class="column six wide">
          <div class="ui icon input huge fluid">
            <input class="main-search" type="text" placeholder="Search...">
            <i class="inverted circular search link icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider hidden"></div>
  <div class="ui container">
    <div class="ui grid">
      <div class="column fluid">
      <div class="ui statistics three">
          <div class="statistic">
            <div class="value">
              <i class="plane icon"></i> 5
            </div>
            <div class="label">
              Flights
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="plane icon"></i> 5
            </div>
            <div class="label">
              Flights
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="plane icon"></i> 5
            </div>
            <div class="label">
              Flights
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}