{% extends 'mooc/base.html' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
{% endblock %}

{% block title_name %}
Home
{% endblock %}

{% block body_content %}
<div class="ui fluid container">
  <div class="title-bg">
    <div class="ui grid">
      <div class="ui row main-search">
        <div class="column fluid center aligned">
          <span class="web-name"><span class="orange">M</span>OOGLE</span>
        </div>
      </div>
      <div class="ui row">
        <div class="column five wide"></div>
        <div class="column six wide">
          <div class="ui icon input huge fluid">
            <input class="main-search" type="text" placeholder="寻找感兴趣">
            <i class="inverted circular search link icon orange" id="main-search-btn"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="daohanglan">
    <div class="ui container">
      <div class="ui grid equal width">
        <div class="column dao to top">首页</div>
        <div class="column dao to jptj">精品推荐</div>
        <div class="column dao to jckc">基础课程</div>
        <div class="column dao to gjjj">高级进阶</div>
      </div>
    </div>
  </div>
  <div class="ui divider hidden"></div>
  <div class="ui container">
    <div class="ui grid">
      <div class="column fluid">
        <div class="ui statistics three">
          <div class="statistic">
            <div class="value">
              <i class="pie chart icon"></i> 5
            </div>
            <div class="label">
              类别
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="book icon"></i> 67
            </div>
            <div class="label">
              课程
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="student icon"></i> 124
            </div>
            <div class="label">
              学生
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 class="ui horizontal divider header" id="jptj">
      <i class="tag icon"></i>
      精品推荐
    </h1>

    <div class="ui four link cards orange">
      {% for item in jptj %}
      <div class="card orange">
        <div class="image">
          <img src="{{item.image}}">
        </div>
        <div class="content">
          <div class="header"><a href="/course/{{item.id}}">{{item.title}}</a></div>
          <div class="description">
            {{item.description | truncatechars:20}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{item.schedule | default:"无时间安排"}}
          </span>
        </div>
      </div>
      {% endfor %}
    </div>

    <h1 class="ui horizontal divider header" id="jckc">
      <i class="tag icon"></i>
      基础课程
    </h1>

    <div class="ui four link cards orange">
      {% for item in jckc %}
      <div class="card orange">
        <div class="image">
          <img src="{{item.image}}">
        </div>
        <div class="content">
          <div class="header"><a href="/course/{{item.id}}">{{item.title}}</a></div>
          <div class="description">
            {{item.description | truncatechars:20}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{item.schedule | default:"无时间安排"}}
          </span>
        </div>
      </div>
      {% endfor %}
    </div>

    <h1 class="ui horizontal divider header" id="gjjj">
      <i class="tag icon"></i>
      高级进阶
    </h1>

    <div class="ui four link cards orange">
      {% for item in gjjj %}
      <div class="card orange">
        <div class="image">
          <img src="{{item.image}}">
        </div>
        <div class="content">
          <div class="header"><a href="/course/{{item.id}}">{{item.title}}</a></div>
          <div class="description">
            {{item.description | truncatechars:20}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{item.schedule | default:"无时间安排"}}
          </span>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}